@import "tailwindcss";

:root {
  --background: #1a1a1a;
  --foreground: #ffffff;
  --accent-green: #1d8659;
  --accent-green-light: #22a861;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-accent-green: var(--accent-green);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --color-accent-green-light: var(--accent-green-light);
}
  
@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
